.SkillfirstContainer{
    background-color: rgba(63, 59, 59, 0.935);
}

.FirstCol{
    margin-left: 8%;
}

.SkillForm {
    margin-top: 2%;
}

#SkillResult{
    margin-top: 2%;
    margin-bottom: 2%;
}