.skills{
    background-color: rgba(63, 59, 59, 0.835);
    color: white;
}
.Col-Test {
    width: 97% !important;
}
.S-title {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 26px;
    border: solid 10px rgba(0, 0, 0, 0.842);
    border-style: double;
    border-spacing: 9px;
}

.needle {
    background-color: white;
}